/***********POSITIONING*************/
.container{
    height:100vh;
}
.row{
    height:100%;
}
/***********MAP*************/
#map{
    height:100%;
}
/***********FOOTER*************/
.footer{
    height:100px;
    width:100vw;
    display:block;
    background:#f8f9fa;
    text-align:center;
}
.return{
    position:relative;
    top:40%;
    text-decoration:none;
    color:black;
}
.return:hover{
    cursor:pointer;
}
/*********LOCAL REG/RECESSION CALCULATOR**********/
#top-calculator{
    height:calc(30vh - 55px);
    position:absolute;
    padding:15px;
    z-index:10;
}
#bottom-calculator{
    height:20vh;
    position:absolute;
    top:calc(80vh + 55px);
    padding:15px;
}
input{
    width:100px;
}
.calc-section > p{
    margin-bottom:5px;
}
.calc-section{
    margin-bottom:10px;
}

/*********TRIANGLE INTERFACE**********/
#triangle{
    height:50vh;
    top: calc(30vh + 55px);
    position:absolute;
    padding:0px 50px 10px;
}
.triangle_interface{
    width:100%;
    height:100%;
}
.line{
    stroke-width:5px;
    stroke:black;
}
.opp:hover{
    cursor:pointer;
    stroke-width:10px !important;
}
/*********CALCULATOR*********/
#calculator{
    position:absolute;
    width:300px;
    top:70px;
    right:50px;
    z-index:1000;
    background:white;
    border: 2px black solid;
}
