/***********MAP*************/
#map{
    width:50vw;
    height:calc(100vh - 55px);
    position:absolute;
    left:50%;
    top:55px;
}
/***********FOOTER*************/
.footer{
    height:100px;
    width:100vw;
    display:block;
    background:#f8f9fa;
    text-align:center;
}
.return{
    position:relative;
    top:40%;
    text-decoration:none;
    color:black;
}
.return:hover{
    cursor:pointer;
}
/*********LOCAL REG/RECESSION CALCULATOR**********/
#top-calculator{
    width:50vw;
    height:calc(50vh - 55px);
    position:absolute;
}

/*********TRIANGLE INTERFACE**********/
#triangle{
    width:50vw;
    height:50vh;
    top: 50%;
    position:absolute;
    padding:0px 50px 10px;
}
.triangle_interface{
    width:100%;
    height:100%;
}
.line{
    stroke-width:5px;
    stroke:black;
}
/*********CALCULATOR*********/
#calculator{
    position:absolute;
    width:300px;
    top:70px;
    right:50px;
    z-index:1000;
    background:white;
    border: 2px black solid;
}