/***********MAP*************/
#map{
    width:100vw;
    height:100vh;
}
/***********FOOTER*************/
.footer{
    height:100px;
    width:100vw;
    display:block;
    background:#f8f9fa;
    text-align:center;
}
.return{
    position:relative;
    top:40%;
    text-decoration:none;
    color:black;
}
.return:hover{
    cursor:pointer;
}
/*********CALCULATOR*********/
#calculator{
    position:absolute;
    width:300px;
    top:70px;
    right:50px;
    z-index:1000;
    background:white;
    border: 2px black solid;
}