#footer-wrap {
  width: 100%;
  padding: 30px 0px 50px 0px;
  background-color: #232323;

  > div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;

    > div {
      margin: 15px 0px 0px 0px;
      width: 33%;

      p {
        font-size: 1.2rem;
        color: #D7D7D7;
        padding: 0px 20px 0px 20px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    > div {
      width: 90%;
      margin-left: 5%;

      > div {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    > div {
      > div {
        width: 100%;
      }
    }
  }
}
