#footer-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 0px 50px 0px;
  background-color: #232323;

  p {
    font-size: 1.2rem;
    color: #D7D7D7;
  }

  > div {
    width: 33%;
    margin: 15px 0px 0px 0px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    > div {
      width: 90%;
    }
  }
}
