.tab {
  transition: opacity 150ms;

  img {
    opacity: 0;
  }

  &:hover {
    transition: opacity 150ms;
    opacity: 0.8;
  }
}

.active-tab {
  div {
    text-decoration: underline;

    img {
      opacity: 1;
    }
  }
}
