#introduction {
  display: flex;

  .introduction-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    margin-top: 40px;
    .introduction-text-wrap {
      padding-left: 30px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;

    .introduction-text-wrap {
      padding: 20px 15px 0px 15px;
    }
  }
}
