#navbar {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div:first-child {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      text-align: left;
      margin-left: 20px;
      font-size: 1.2rem;
    }
  }
  > div:nth-child(2) {
    width: 60%;
    text-align: center;
    p {
      font-size: 1.6rem;
    }
  }
  > div:nth-child(3) {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      text-align: right;
      margin-right: 20px;
      font-size: 1.2rem;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
